.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 29px;
  width: 1000px;
  height: 400px;
  margin-left: 170px;
  color: white;
  font-size: 20px;
  background-color: black;
}
h1 {
  font-size: 30px;
}

.button {
  background-color: red;
  border-radius: 5px;
  width: 90px;
  height: 40px;
}
.button-2 {
  width: 120px;
  height: 30px;
  margin-top: 3px;
  border-radius: 7px;
}
.button-mom {
  margin-top: 110px;
  margin-left: 170px;
  background-color: rgb(0, 0, 0);
  height: 100px;
  border: 1.5px solid black;
  border-radius: 8px;
  padding: 10px;
}
.resize-section {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid lightgrey;
  border-radius: 5px;
  padding: 10px;
  margin-left: 30px;
  margin-bottom: 40px;
}

.match-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
}
.description {
  padding: 1px;
  margin-left: 30px;
}

.middle-part {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 9px;
  row-gap: 20px;

  margin-top: 105px;
  margin-left: 5px;
  margin-right: 20px;
}
.flex-between {
  display: flex;
  width: 200px;
}
.img-middle {
  width: 280px;
}
.goal {
  margin-left: 620px;
}
.last-footer {
  color: white;
  background-color: rgba(0, 0, 0, 0.829);
  height: 200px;
}

hr {
  margin-left: 50px;
  margin-right: 50px;
}
.link {
  display: flex;
  gap: 3px;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
