.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 29px;
  width: 1000px;
  height: 400px;
  margin-left: 170px;
  color: white;
  font-size: 20px;
  background-color: black;
}
.last-footer {
  width: 324px;
  height: 340px;
}
h1 {
  font-size: 30px;
}

.button {
  background-color: red;
  border-radius: 5px;
  width: 90px;
  height: 40px;
}
.button-2 {
  width: 120px;
  height: 30px;
  margin-top: 3px;
  border-radius: 7px;
}
.button-mom {
  margin-top: 110px;
  margin-left: 170px;
  background-color: rgb(0, 0, 0);
  height: 100px;
  border: 1.5px solid black;
  border-radius: 8px;
  padding: 10px;
}
.middle-part {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 9px;
  row-gap: 20px;

  margin-top: 105px;
  margin-left: 5px;
  margin-right: 20px;
}
.flex-between {
  display: flex;
  width: 200px;
}
.img-middle {
  width: 280px;
}
.goal {
  margin-left: 620px;
}
.last-footer {
  color: white;
  background-color: rgba(0, 0, 0, 0.829);
  height: 200px;
  width: 1300px;
  margin-left: 18px;
}

hr {
  margin-left: 50px;
  margin-right: 50px;
}
.link {
  display: flex;
  gap: 3px;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

/* Responsive for Mobile(i phone 12 pro)----------- */

 @media only screen and (max-width: 844px) {

  .banner {
    display: block;
    align-items:left ;
    justify-content:left ;
    border-radius: 19px;
    width: 300px;
    height: 600px;
    color: white;
    font-size: 15px;
    background-color: black;
    margin-right: 600px;
  }
  .first-article{
    margin-left: 50px;
  }
  .banner-immage{
    width: 200px;
    height: 250px;
    margin-left: 60px;
  } 
  .flex-between {
    display:block ;
    width: 100px;
  }
  .img-middle {
    width: 240px;
  }
  .button-mom {
    margin-top: 110px;
    margin-left: 150px;
   
    height: 100px;
    
    border-radius: 8px;
    padding: 10px;
  }
  .middle-part {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 9px;
    row-gap: 20px;
    margin-left:150px
  
}

.goal {
  margin-left: 420px;
}
.last-footer {
  color: white;
  background-color: rgba(0, 0, 0, 0.829);
  height: 100px;
  width: 300px;
  margin-left: 150px;
} 
.link {
  display: block;
  width: 100%;
  margin-top: 28px;
  margin-left: 100px;
  margin-bottom: 20px;
  gap: 10px;
}

/* ----------------------------
responsive for tablet 
-----------------------------*/


@media only screen and (min-width:1024px,max-width: 1366px){
  
  .banner {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 29px;
    width: 650px;
    height: 400px;
    margin-left: 0px;
    color: white;
    font-size: 15px;
    background-color: black;
  }
  .middle-part {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 9px;
    row-gap: 20px;
  
    margin-top: 105px;
    margin-left: 5px;
    margin-right: 20px;
  }
  .img-middle {
    width: 150px;
}
.button-mom {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: space-between;
  height: 50px;
  width: 300px;
  border: 1.5px solid black; 
  border-radius: 8px; 
  padding: 25px;
  margin-right: 900px;
}
.last-footer {
  color: white;
  background-color: rgba(0, 0, 0, 0.829);
  height: 150px;
  width:600px;
  margin-left: 0px;
}

.goal {
  margin-left: 220px;
}
.link {
 display: flex;
 gap: 10px;
}

}